@{
	ViewBag.Title = "ViewCart";
	int CustomerID = Request.IsAuthenticated ? Convert.ToInt32(User.Identity.Name) : -1;
}

<h2>ViewCart</h2>

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th style="width: 80%">Item Name</th>
			<th style="width: 10%">Quantity</th>
			<th style="width: 10%">Remove</th>
		</tr>
	</thead>
	<tbody id="list"></tbody>
</table>
<button class="btn btn-success" id="checkout"><i class="fa fa-shopping-cart"></i> Checkout</button>
<div id="complete" class="alert alert-success">Order complete!</div>
<a class="btn btn-primary" id="return" href="~/Home/Index">Return Home</a>

@section scripts
{
	<script>
		$(function () {
			//Populate table
			$.post("@Url.Content("~")Cart/ViewCart", { CustomerID: @CustomerID}, function (response) {
				$.map(response, function (item) {
					$('#list').append(
						'<tr id="' + item.ProductID + '">' +
						'<td>' + item.ProductName + '</td>' +
						'<td><input type="number" min="1" step="1" class="form-control edit" value="' + item.Quantity + '" data-id="' + item.ProductID + '" /></td>' +
						'<td><button class="btn btn-danger delete" data-id="' + item.ProductID + '">X</button></td>' +
						'</tr>'
					);
				});
			}, "json");

			//Update
			$(document).on('change', '.edit', function () {
				var id = $(this).data('id');
				var qty = $(this).val();
				
				$.post("@Url.Content("~")Cart/EditCart",
					{
						CustomerID: @CustomerID,
						ProductId: id,
						Quantity:  qty
					}
				);
			});

			//Delete
			$(document).on('click', '.delete', function () {
				var id = $(this).data('id');

				$.post("@Url.Content("~")Cart/DeleteCart",
					{
						CustomerID: @CustomerID,
						ProductId: id
					}
				);

				$('#' + $(this).data('id')).remove();
			});

			//Checkout
			$('#checkout').on('click', function () {
				$.post("@Url.Content("~")Cart/ClearCart",
					{
						CustomerID: @CustomerID
					}
				);

				$('tr').remove();
				$('#complete').show();
				$('#checkout').hide();
				$('#return').show();
			});
		});
	</script>
}